{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "arrow-body-style": ["off"],
    "brace-style": ["error", "stroustrup"],
    "indent": ["off"],
    "key-spacing": ["error", { "align": "value", "mode": "minimum" }],
    "max-len": ["error", 120],
    "no-console": "warn",
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
    "padded-blocks": ["off"],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": ["off"],
    "react/jsx-indent-props": ["off"]
  }
}
